.container {
  margin-top: 5px;
}

.row {
  display: flex;
  flex-direction: column;
}
.usercard {
  /* border: 1px solid red; */
  width: 40%;
  margin-right: 5px;
}

.imagesize {
  width: 100%;
  height: 100%;
  border: 1px green solid;
}
.sub {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.Searchdiv-main {
  display: flex;
}

.searchInput {
  flex: 3;
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  position: fixed;
  margin: auto;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

